<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32819973781-118tdja1m2jorhi1umiebqv1soehvonq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32819973781-118tdja1m2jorhi1umiebqv1soehvonq</string>
	<key>API_KEY</key>
	<string>AIzaSyCY9E6gJPYqr6KYLrdfvrfpXfZTt4jueAY</string>
	<key>GCM_SENDER_ID</key>
	<string>32819973781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.L3v3l3ditor</string>
	<key>PROJECT_ID</key>
	<string>l3v3l-3ditor</string>
	<key>STORAGE_BUCKET</key>
	<string>l3v3l-3ditor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32819973781:ios:7d3146c5177231e6b7159c</string>
	<key>DATABASE_URL</key>
	<string>https://l3v3l-3ditor.firebaseio.com</string>
</dict>
</plist>